VITE_GOOGLE_SPEECH_API_KEY=your_google_speech_api_key_here
VITE_GOOGLE_SHEET_ID=your_google_spreadsheet_id_here
VITE_BACKEND_API_URL=http://127.0.0.1:5050
GOOGLE_SERVICE_ACCOUNT_EMAIL=your_service_account@project.iam.gserviceaccount.com
